<h2>Datos del autor</h2>
<div>
  <table id="author" class="bloque">
    <caption>Datos personales</caption>
    <tr>
      <th>Nombre: </th>
      <td>Heber U. Quequejana C.</td>
    </tr>
    <tr>
      <th>email: </th>
      <td><a href="mailto:heberqc@gmail.com">heberqc@gmail.com</a></td>
    </tr>
    <tr>
      <th>Fotografía:</th>
      <td><img src="/images/toraemon.png" alt="Mi avatar" /></td>
    </tr>
  </table>
  <br>
  <iframe class="bloque" width="640" height="360" src="https://www.youtube.com/embed/8e44wGYgykw?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
