<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Quiz </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet'
        type='text/css'
        media='only screen and (min-width: 530px) and (min-device-width: 481px)'
        href='/stylesheets/wide.css' />
  <link rel='stylesheet'
        type='text/css'
        media='only screen and (max-width: 480px)'
        href='/stylesheets/smartphone.css' />
</head>

<body onload='onLoad()'>
<div id="page-wrap">
  <header class="main" id="h1">
    <h2>Quiz<span>: el juego de las preguntas</span></h2>
  </header>

  <nav class="main" id="n1" role="navigation">
    <span><a href="/">Inicio</a></span>
    <span><a href="/quizes">Preguntas</a></span>
    <span><a href="/author">Créditos</a></span>
  </nav>

  <section class="main" id="s1">
    <% if (errors.length) { %>
      <span id='ErrorMsgs'>
        Corregir errores:<br>
        <% for (var i in errors) { %>
          <span><%= errors[i].message %></span><br>
        <% } %>
      </span>
    <% } %>
    <div>
      <%- body %>
    </div>
  </section>

  <footer class="main" id="f1">
    <a href="http://es.wikipedia.org/wiki/Quiz">¿Que es un Quiz?</a>
    <span>|</span>
    <a href="https://github.com/heberqc/proyecto-quiz">Código fuente</a>
  </footer>
</div>
<script type="text/javascript">
  var temaQuiz = document.getElementsByClassName('tema');
  var temas = document.getElementsByTagName("option");

  function tituloTema(texto) {
    switch (texto) {
      case 'ocio':
        return 'Ocio';
      case 'humanidades':
        return 'Humanidades';
      case 'ciencia':
        return 'Ciencia';
      case 'tecnologia':
        return 'Tecnología';
      default:
        return 'Otro';
    }
  }

  function seleccionar() {
    for(var i = 0; i<temas.length; i++) {
      if (temas[i].value === temaActual) {
        temas[i].selected = "selected";
      }
    }
  }

  function onLoad() {
    for (var i = 0; i<temaQuiz.length; i++) {
      temaQuiz[i].innerHTML = tituloTema(temaQuiz[i].innerHTML);
    }
    seleccionar();
  };
</script>
</body>
</html>
