body { background: indianred; }

#page-wrap:after { content: "Wide Layout"; }

nav       { float: left; width: 15%; height: 200px ;}
nav span  { margin: 0px 100px 0px 0px;}
section   { float: right; width: 80%; min-height: 200px; }
footer    { clear: both;  display: block; }
.bloque {
	float: left;
  display: block;
  margin: 5px;
}
#author, #author th, #author td {
	border: 1px solid black;
}
caption {
	font-weight: bold;
	padding: .5em;
}
a:hover {
	font-weight: bold;
}
