<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" placeholder="Escriba la pregunta" value="<%= quiz.pregunta %>" autofocus>
<br>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" placeholder="Escriba la respuesta" value="<%= quiz.respuesta %>">
<br><br>
<input type="submit" value="Salvar">
<br><br>
