<form method="get" action="/quizes">
  <label>Buscar preguntas: </label>
  <input type="text" placeholder="Ingrese su búsqueda" name="search"/>
  <input type="submit" value="Buscar"/>
</form>
<br>
<table width="100%">
<%
  var mensaje;
  if(+(texto || '') === 0) {
    mensaje = "Lista de preguntas";
  } else {
    mensaje = "Resultados de la búsqueda: '" + texto + "'";
  }
%>
  <caption><%= mensaje %></caption>
<% var i; for (i = 0; i < quizes.length; i++) { %>
  <tr>
    <td>
      <a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
    </td>
    <td>
      <a href="quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a>
    </td>
  </tr>
<% } %>
</table>
<br>
<p><a href="/quizes/new"><button type="button">Crear pregunta</button></a></p>
